    <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ubird - GFP Landscape</title>
    <!--ICONMOON FONTS-->
    <!--link rel="stylesheet" href="/static/css/style.css"-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--link href="/static/css/scrolling-nav.css" rel="stylesheet"-->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/doge-button/dogebutton.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--INPUT FILE SUPAH FANCY-->
    <link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- the main fileinput plugin file -->
    <script src="/static/js/fileinput.min.js"></script>
    <!-- bootstrap.js below is needed if you wish to zoom and view file content
         in a larger detailed modal dialog -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- optionally if you need a theme like font awesome theme you can include
        it as mentioned below -->
    <script src="/static/themes/fa/theme.js"></script>



</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Ubird</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Ubird</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Data Analysis</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#upload">File Upload</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#donate">Donate</a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href='https://github.com/katyaputintseva/ubird'><i class="fa fa-github fa-2x" style="color:grey"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Ubird</h1>

                    <!--img src="images/valley.jpg" class="img-responsive" alt="Cinque Terre"-->
                    <!--p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p-->
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>About Ubird</h2>
                    <div class="col-md-8 col-md-offset-2 text-left">
                    <p>Fitness landscapes depict how genotypes manifest at the phenotypic level and form the basis of our understanding of many areas of biology. However, many properties of fitness landscapes remain elusive. This website was created to help scientists study the fitness landscape of their protein of choice. While visualizing the data quality, it also predicts mutations, which do not influence the fitness of the protein.
                    </p></div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Data Analysis</h2>
                    <img src="/static/img/dataproc-01.png" class="img-responsive" alt="data process">
                </div>
            </div>
        </div>
    </section>

    

    <!-- Upload Section -->
    <!-- FIX UPLOAD BUTTON -->
    <section id="upload" class="upload-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>File Upload</h2>
                    
                        <div class='col-md-6  text-left' ">
                         <h3>The file format should be the following:</h3>                 
                         Each mutant should be represented by a row. The columns should be arranged in the following manner: 
                        <ul>
                         <li>List of mutations *</li>
                         <li>Number of barcodes corresponding to each mutant</li>
                         <li>The value of fitness</li>
                         <li>The fitness standard deviation</li>
                        </ul>
                        
                        * The mutations, contained within each mutant, should be separated by colon. Each mutation should be represented by a single letter code of the initial amino acid, the position of the mutation within the protein and the amino acid it was changed into. Therefore, if we have a mutant, which consists of two mutations: one from alanine to tryptophan in the position 71, and another one from lysine to cysteine in the position 147, we would write: A71W:K147C.
                        
                        <pre><code>
 aaMutations    uniqueBarcodes    medianBrightness    std
 SA108D:SN144D:SI186V:SM231T:SL234P    1    1.30103123972    
 SA177T    8    3.62931534845    0.0623621136482
                        </code></pre>
                       </div>

                        <div class="col-md-6" style="margin-top: 25px">
                        <form action = "http://localhost:5000/results" method = "POST" enctype = "multipart/form-data">
                            <!--label class="control-label">Select File</label-->
                            <input id="file" type="file" class="file" name='file' data-preview-file-type="text" >
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Donate -->
    <section id="donate" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Donate</h2>
                    <div class="col-md-12 col-md-offset-1" style='margin-top:10px'>
                        <div class='col-md-2'>
                            <img src="/static/img/dogecoin-300.png" class="" alt="" width="150" height="150">
                        </div>
                        <div class="col-md-6 text-left">
                            <p>This is a free and transparent web service, so we believe in a <a href="http://dogecoin.com">free and transparent donation system</a>.
                            Feel free to give us some <a href="http://howtodoge.com/">Ðogecoins</a> to keep this service free and transparent.
                            Click below to see the adress or scan the QR code.
                            </p>
                            <div class="xdgbtn-black centered" data-xdgbtn-address="D6pCjnHUfS4Hyp5DZDYm4VJnNM4VhdNGKU" style='margin-top:30px'></div>   
                        </div>
                        <div class='col-md-2'>
                            <img src="/static/img/dogewallet_qr.png" class="" alt="" width="150" height="150">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section> 



    <!--FOOTER-->
     <div class="container" style="margin-top:20px">
        <div class="row">
    <hr>
            <div class="col-lg-12">
                
                    <p class="muted pull-right"><i class="fa fa-copyright fa-flip-horizontal"></i> 2016-2017 Ubird. All wrongs reserved   </p>
                
            </div>
        </div>
    </div>

    <script src=/static/js/inputFileButton.js></script>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrolling-nav.js"></script>
    <script type="text/javascript" src="/static/doge-button/dogebutton.min.js"></script>
</body>

</html>
